@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
  @include gradient;
  #flomirEvents {
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    font-size: xx-large;
  }

  li {
    padding: 0 0.7rem;

    a {
      color: $white !important;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 0;
  }

  #flomirEvents {
    font-size: 1.2rem;
  }

  .navbar-nav {
    text-align: center;
    padding-top: 1rem;

    .nav-link {
      padding: 0.5rem 0;
      font-size: 1rem;
    }
  }

  #phone-btn {
    margin: 1rem auto 0;
    display: inline-flex;
  }
}
