@use "../custom" as *;

.display-2 {
  margin-bottom: 1rem;
  text-transform: none;
  font-family: "Poppins", sans-serif;

  &--intro {
    display: inline-block;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }

  &--description {
    font-size: 1.4rem;
    display: block;
    margin-top: 1.2rem;
    text-transform: none;
  }
}

//heading line
.heading-line {
  position: relative;
  width: 90px;
  height: 3px;
  margin: 0.75rem 0 1.5rem;
  background: linear-gradient(
    to right,
    rgba($primary, 0.2),
    rgba($secondary, 1),
    rgba($primary, 0.2)
  );
  border-radius: 10px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background-color: $secondary;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba($secondary, 0.6);
  }
}
.heading-line {
  animation: fadeInUp 0.8s ease-in-out both;
  margin-left: auto;
  margin-right: auto;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
